<ion-header class="ion-no-border">
  <ion-toolbar class="header-serena">
    <div class="header-content">
      <div class="avatar-bot">
        <ion-icon name="hardware-chip-outline"></ion-icon>
      </div>
      <div class="text-info">
        <h2>Guía SERENA</h2>
        <p>Escuchando activamente...</p>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content #chatContent class="chat-container" [scrollEvents]="true" scroll-y="true">
  
  <div *ngIf="mostrarSOS" class="sos-banner animate-fade-in animate-pulse">
    <div class="sos-info">
      <ion-icon name="alert-circle"></ion-icon>
      <div>
        <h3>Alerta de Bienestar</h3>
        <p>Tu seguridad es primero.</p>
      </div>
    </div>
    <ion-button color="danger" shape="round" class="btn-llamar" (click)="llamarEmergencia()">
      Llamar 106
    </ion-button>
  </div>

  <div class="chat-wrapper">
    <div class="context-banner">
      <ion-icon name="shield-checkmark-outline"></ion-icon>
      <p>IA diseñada para apoyo y detección temprana. Privado y seguro para estudiantes UDEC.</p>
    </div>

    <div *ngFor="let msg of mensajes" class="message-row" [class]="msg.emisor">
      <div class="message-bubble">{{ msg.texto }}</div>
    </div>

    <div *ngIf="cargando" class="message-row bot">
      <div class="message-bubble typing-indicator">
        <span class="dot"></span><span class="dot"></span><span class="dot"></span>
      </div>
    </div>
  </div>

</ion-content>

<ion-footer class="ion-no-border">
  
  <div class="quick-responses" *ngIf="!cargando && mensajes.length < 5">
    <div class="pill" *ngFor="let opcion of respuestasRapidas" (click)="enviarRespuestaRapida(opcion)">
      {{ opcion }}
    </div>
  </div>

  <div class="input-container">
    <ion-row class="input-row">
      <ion-col size="10">
        <ion-input [(ngModel)]="nuevoMensaje" (keyup.enter)="enviarMensaje()" placeholder="Escribe tu mensaje..." class="chat-input"></ion-input>
      </ion-col>
      <ion-col size="2" class="ion-text-center btn-col">
        <ion-button fill="clear" class="send-button" (click)="enviarMensaje()" [disabled]="cargando || nuevoMensaje.trim() === ''">
          <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-footer>